<%= klass = @event.minimum_number <= @event.users.length ? ' game-on' : '' %>
<div class="back-link">
  <%= link_to "Back to #{@event.game_type.name}", game_type_path(@event.game_type) %>
</div>
<div class="event<%= klass %>">
  <h2><%= @event.name %>
    <% game_type = GameType.find(@event.game_type_id).name %>
    <% unless @event.name.downcase.include? game_type.downcase %>
      <span class="small"> (<%= game_type %>)</span>
    <% end %>
  </h2>
  <p>Where: <%= @event.location.name %></p>
  <p>When: <%= @event.pretty_date %> @ <%= @event.pretty_time %></p>
  <p>Who: </p>
  <ul>
    <% @event.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
  <% number_needed = @event.minimum_number - @event.users.length %>
  <% humen = number_needed > 1 ? 'people' : 'person' %>
  <% if number_needed > 0 %>
  <p><b><%= number_needed %></b> more <%= humen %> needed.</p>
  <% end %>
  <%= form_for(@new_user) do |f| %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
    <%= f.label 'Email' %>
    <%= f.text_field :email %>
    <%= f.submit 'Sign Up!' %>
  <% end %>
</div>
