<% game_on = @event.minimum_number <= @event.users.length %>
<div class="events">
  <div class="event">
    <h2><%= @event.name %>
      <% game_type = GameType.find(@event.game_type_id).name %>
      <% unless @event.name.downcase.include? game_type.downcase %>
        <br>
        <span class="small"> (<%= game_type %>)</span>
      <% end %>
    </h2>

    <div class="game-on">
      <% if game_on %>
      <%= image_tag('game-on.png', size: '100x84') %>
      <% else %>
      <% number_needed = @event.minimum_number - @event.users.length %>
      <p><b><%= pluralize(number_needed, 'person') %></b> still needed!</p>
      <% end %>
    </div>

    <% if !@event.description.nil? && @event.description.length > 0 %>
      <p><%= @event.description %></p>
    <% end %>
    <p>Where: <%= @event.location.name %></p>
    <p>When: <%= @event.pretty_date %> @ <%= @event.pretty_time %></p>
    <% if @event.users.count > 0 %>
    <p>Who: </p>
    <ol class='users'>
      <% @event.users.order(:name).each do |user| %>
      <li>
        <%= user.name %>
        <%= button_to(
          'X', user_path(user), method: :delete,
          form_class: 'inline', class: 'delete',
          params: { 'user[event_id]': @event.id }
        ) %>
      </li>
      <% end %>
    </ol>
    <% end %>
    <h3>Join the fun!</h3>
    <%= form_for(@new_user) do |f| %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.label 'Your Name' %>
    <%= f.text_field :name %>
    <%= f.label 'Gmail handle' %>
    <%= f.text_field :email, class: 'email-input' %>
    <span>@asperasoft.com</span>
    <%= f.submit 'Sign Up!', class: 'submit' %>
    <% end %>
  </div>
</div>
