<% select_id = 0 if @game_type_id.nil? %>
<ul>
  <li class="game-type-link<%= select_id == 0 ? ' selected' : '' %>">
    <%= link_to "All Events (#{Event.count})", events_path %>
  </li>
</ul>
<hr>
<ul>
  <% @game_types.sort_by { |el| el.name }.each do |gt| %>
    <li class="game-type-link<%= select_id == gt.id ? ' selected' : '' %>">
      <%= link_to(
        "#{gt.name} (#{gt.events.count})", events_path(game_type: gt.id)
      ) %>
    </li>
  <% end %>
</ul>
<div id="create-event-type">
  <input class="new-button button" type="button" value="Create a New Event Type">
</div>
<%= form_for(@new_game_type, html: { id: 'new-event', class: 'hidden' }) do |f| %>
  <%= f.text_field :name, placeholder: 'Event type name' %>
  <%= f.submit 'New Event Type', class: 'button submit' %>
<% end %>

<script type="text/javascript">
  $('#create-event-type').click(function () {
    $('#new-event').removeClass('hidden');
    $('#create-event-type').addClass('hidden');
  })
</script>
