<% events.each do |event| %>
  <% game_on = event.minimum_number <= event.users.length %>
  <div class="event">
    <h2><%= link_to "#{event.name}", event_path(event) %>
      <% game_type = GameType.find(event.game_type_id).name %>
      <% unless event.name.downcase.include? game_type.downcase %>
        <span class="small"> (<%= game_type %>)</span>
      <% end %>
    </h2>
    <% if game_on %>
      <%= image_tag('game-on.png', class: 'game-on', size: '100x84') %>
    <% end %>
    <p>Where: <%= event.location.name %></p>
    <p>When: <%= event.pretty_date %> @ <%= event.pretty_time %></p>

    <% number_needed = event.minimum_number - event.users.length %>
    <% humen = number_needed > 1 ? 'people' : 'person' %>
    <% if number_needed > 0 %>
    <p><b><%= number_needed %></b> more <%= humen %> needed.</p>
    <% end %>
  </div>
<% end %>
