<!DOCTYPE html>
<html>
<head>
  <title>Unofficial Aspera Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="body">
  <a href='/'><%= render 'layouts/partials/header' %></a>
  <div class="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
