<!DOCTYPE html>
<html>
<head>
  <title>Unofficial Aspera Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/partials/header' %>
  <div class="nav-sidebar">
    <%= render 'layouts/partials/nav_sidebar' %>
  </div>
  <div class="main">
    <%= render 'layouts/partials/errors' %>
    <%= yield %>
  </div>
</body>
</html>
